body{
    background-image: url("../images/ciculos.jpg");
}
.container{
    background-color:white;
    border: 2px solid gray;
}
.nombres{
    clear:both;
}

.element{
    border: 1px solid black;
}
.elementTitle{
    border: 1px solid black;
    background-color: #4f81bd;
    text-transform: lowercase; 
    text-align: left; 
    font-size: 15px; 
    color: #fff;
}
.element:nth-of-type(odd) {
    background-color: #dbe5f0;
}
.element:nth-of-type(even) {
    background-color: #f3eddd;
}

h1{
    color:midnightblue;
}